<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<center>

<h1> 
WeirBuy
</h1>

<body>
    <p> <br> You wanna buy weird things just like you,<br> visit our shopping website and buy whatever <br> you'd like. We will judge your purchases.</p>
    <br>
    <br>
    <br>
<br>

 <a href = "/product"><img src="./static/banana.jpg" alt="flip flops" width="400" height="400"></a>
 <br>
 <br>
 <a href = "/product"><img src="./static/dino.jpg" alt="dino costume" width="500" height="600"></a>

<br>
 <br>

 <a href = "/product"><img src="./static/goblin.jpg" alt="The you earrings " width="500" height="600"></a>

<br>
 <br>
 
 <a href = "/product"><img src="./static/bag.jpg" alt="That's just basically like the other bags" width="500" height="600"></a>

 <br>
 <br>
 
 <a href = "/product"><img src="./static/tiny.jpg" alt="literally tiny filled water bottles!" width="500" height="600">
</a>
 <br>
 <br>

</body>
</center>

</html>