<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Product</title>
    <style> img { 
        float:  right;
    }

</style>

</head>
<body>
<a href="/"><button> homepage</button></a>
<br>
<br>
<a href="/cart"><button> Cart </button></a>
<br>
<br>
<p1> 
    Banana' Designed For Whoopi Goldberg <br>
</p1>
<p2>Do you really wanna do this? <br> The price is I realy don't know just check I just give ideas. <br>
But I can lat you teleport to a website to buy it but idc.
</p2> 

<a href="https://www.owxmall.com/?product_id=376367335_57"> 
<img src="/static/banana.jpg"width="400" height="400">
</a>


</body>
</html>